html, body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #fff;
  background: url(http://33.media.tumblr.com/tumblr_me8fukLt0z1rdwlp0o1_500.jpg);
  box-sizing: border-box;

  min-height: 100%;
  height: 100%;

  margin: 0px 0px;
}

#search-box-con {
  float: left;
  width: 20%;
  height: 100%;

  padding-top: 8%;
  padding-left: 20px;
  box-sizing: border-box;
}

#search-box {
  width: 80%;
  max-width: 300px;
}

#chart-area {
  /*margin-left: 30%;*/
  float: left;
  width: 100%;
  height: 100%;

  padding: 8% 40px 0px 8%;

  /*border-left-style: solid;*/
  border-left-color: #e5e5e5;
  border-left-width: 1px;
  box-sizing: border-box;
}

#chart-area::after {
  clear: both;
}

#main {
  float: left;
  width: 100%;
}

#sidebar {
  float: left;
  width: 100px;

  padding-left: 20px;
}

#sidebar::after {
  clear: both;
}

#sequence {
  width: 600px;
  height: 70px;

  padding-left: 20px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
    height:400px;
}

#attrChart {
  position: relative;
    height:400px;
}
#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 305px;
  width: 240px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}

#cpu_chart {
    width:50%;
    float:left;
    height : 200px;
}

#ver_chart {
    float:left;
    width: 50%;
    height : 200px;
}

#mem_chart {
    height : 200px;
    padding-top: 220px;
}
